.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    font-size: 32px;
    text-align: center;
  }
  
  #counter {
    color: green;
    font-size: 48px;
  }