* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #78828d;
    color: white;
   
  }

.container-verification{
    display: flex;
    justify-content: center;
    padding-top: 20rem;
}

